.mintsection {
  height: 120vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.bigcardone {
  width: 80%;
  height: 400px;
  border-radius: 10px;
  background-color: #FFB1B1;
  display: flex;
  align-items: center;
  color: #443636;
}
.bigcardtwo {
  width: 80%;
  height: 400px;
  border-radius: 10px;
  background-color: #FFC5A5;
  display: flex;
  align-items: center;
  color: #56473e;
}

.textboxe {
  height: auto;
  width: 55%;
  padding-left: 10%;


  h1{

  }

  p{
    font-size: 1.5rem;
    font-weight: lighter;
  }
}

