.choosezone {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 60%;
  min-width: 760px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

}

.lowzone {
  height: 270px;
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 30px;

  .text {
    font-size: 35px;
    width: 100%;
    text-align: center;

  }

  .subtext {
    margin-top: 5px;
  }

  .input {
    width: 360px;
    height: 55px;
    color: gray;
    font-size: 20px;
    margin-top: 40px;
    padding: 4px 20px 0;
  }

  .button {
    width: 360px;
    height: 55px;
    color: white;
    background-color: #EB4A4A ;
    border: none;
    border-radius: 3px;
    font-weight: 500;
    font-size: 17px;
  }
}
